.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  /* your code here */
  top: 30px;
}

#charmander {
  /* your code here */
  top: 50px;
}

#squirtle {
  /* your code here */
  top: 90px;
}

#pikachu {
  /* your code here */
  top: 150px;
}

#jigglypuff {
  /* your code here */
  top: 280px;
}
